@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,article,h3,h5,th,td.tr{
	margin:0;
	padding:0;
}
header{
	width: 100%;
    height: 283px;
    clear: both;
}
.tops{
	background: #f1f1f1;
    height: 31px;
}
form{
	width: 1000px;
    height: 31px;
    margin: 0 auto;
	line-height: 31px;
}
.tops img{
	float:right;
	vertical-align:central;
	margin-top:5px;
	margin-left:10px;
}
.tops input{
	float:right;
	width: 144px;
    height: 22px;
	padding-left:20px;
	background:url(../imgs/in-ss0.png) no-repeat;
	border:0;
	margin-top:4px;
}
nav{
	width: 1000px;
    height: 82px;
    position: relative;
    margin: 0 auto;
	display:flex;
}
nav img{
	padding-left:80px;
	padding-top: 16px;
    height: 50px;
}
nav ul{
	margin-left:40px;
	margin-top: 28px;
    width: 820px;
    height: 46px;
	display:flex;
	position:relative;
}
nav ul a{
	height: 46px;
    margin: 0 0 0 5px;
    padding: 0 11px 0 0;
	font-size:16px;
	color:#333;
	line-height: 46px;
	background:url(../imgs/in-xtb.png) no-repeat right center;
}
nav ul a:nth-child(11){
	background:0;
}
nav ul img{
	width: 23px;
    height: 17px;
    position: absolute;
    top:-20px;
    left:435px;
}
.banner{
	width:100%;
}
.banner img{
	width:100%;
	min-width:1000px;
}
/*头部*/
article{
	width:1000px;
	margin:0 auto;
	display:flex;
}
.pleft{
	margin:0;
    width: 244px;
	background:url(../imgs/gy-bj.gif) repeat-y;
}
.cate h3{
	background:url(../imgs/gy-h3bj.gif) no-repeat;
	width: 244px;
    height: 60px;
    font-size: 18px;
    color: #606060;
    font-weight: normal;
    line-height: 76px;
    padding-left: 15px;
}
.cate h3 span{
	font-family:Arial;
    font-size: 14px;
    color: #c9c9c9;
    margin-left: 6px;
}
.pleft ul a{
	height: 35px;
    line-height: 35px;
    margin: 0 1px;
    width: 240px;
	background:url(../imgs/jpbg2.gif) no-repeat;
	padding-left: 32px;
    display: block;
    color: #797676;
	font-size:14px;
}
.pleft img{
	width:244px;
}
.mll p{
	width: 242px;
    height: 25px;
    font-size: 22px;
    color: #4F4F4F;
    font-family: Arial;
	padding: 28px 0 8px 25px;
}
.mll p:first-child{
	background:url(../imgs/gy2-4.gif) no-repeat;
}
.mll p:last-child{
	background:url(../imgs/gy2-5.gif) no-repeat;
	font-size: 12px;
}
.nobx{
	width: 239px;
    height: 89px;
	display:flex;
	padding-bottom:80px;
}
.qq{
	background:url(../imgs/nlogo_qq2.gif) no-repeat;
	width: 81px;
    height: 89px;
}
.wb{
	background:url(../imgs/nlogo_wb.gif) no-repeat;
	width: 81px;
    height: 89px;
}
.wb:hover{
	background:url(../imgs/nlogo2_wb.gif) no-repeat;
}
.wx{
	background:url(../imgs/nlogo_wx.jpg) no-repeat;
	width: 81px;
    height: 89px;
}
.wx:hover{
	background:url(../imgs/nlogo2_wx.jpg) no-repeat;
}
.wx img{
	position:absolute;
	width: 150px;
    height: 170px;
    left: -150px;
    top:-10px;
	display:none;
}
.wx:hover img{
	display:block;
}
.pri{
	width: 745px;
}
.loca{
	border-bottom: 1px solid #f6f6f6;
    padding: 13px 5px 13px 22px;
    height: 29px;
    background: #fbfbfb;
	display:flex;
	justify-content:space-between;
}
.loca h3{
	font-size: 23px;
    color: #6A6969;
    font-weight: 400;
}
.loca span{
	font-size: 14px;
    color: #7d7d7d;
    margin-right: 15px;
    margin-top: 3px;
}
.box{
	width: 730px;
    padding: 15px 0 15px 25px;
}
.base{
	margin-bottom: 45px;
	height:210px;
}
.base img{
	width: 295px;
    height: 221px;
    float: left;
    margin-right: 7px;
}
.base img:active{
	transform:scale(1.5);
}
.fix{
	width: 371px;
    height: 205px;
    padding-left: 20px;
    float: left;
    padding-top: 16px;
    border: 1px solid #f8f8f8;
}
.fix h5{
	font-size: 14px;
	color: #2D2D2D;
    line-height: 186%;
}
.fix p{
	font-size: 12px;
    color: #2D2D2D;
    line-height: 186%;
}
button{
	width: 196px;
    height: 34px;
    display: block;
    margin-left: 82px;
    margin-top: 18px;
	color:#fff;
	font-size:18px;
	background:#e4742e;
	border:0;
	border-radius:5px;
}
.more{
	margin-bottom: 32px;
    width: 709px;
}
.more h3,.other h3{
	height: 35px;
    width: 694px;
    line-height: 35px;
    background: #f1f1f1;
    padding: 0 0 0 15px;
    font-size: 16px;
}
.more p{
	width: 679px;
    overflow: hidden;
    padding: 15px 15px;
    background: #f9f9f9;
}
.pro{
	width: 679px;
    overflow: hidden;
    padding: 15px 15px;
    background: #f9f9f9;
	font-size:12px;
}
.pro ul{
	border-right: 1px solid #ebebeb;
    width: 200px;
    float: left;
    margin-left: 15px;
}
.pro ul li{
	width: 144px;
    height: 26px;
    line-height: 26px;
	background:url(../imgs/icon11.gif) no-repeat left center;
    overflow: hidden;
	padding-left: 12px;
    margin-left: 10px;
    color: #7c7c7c;
}
.pro ul li span{
	color: #000;
}
.pro ul:nth-child(3){
	border:0;
}
.tb{
	width: 705px;
    margin: 15px 0 15px 25px;
	border: 1px solid #d2d2d2;
}
.tb th{
	text-align: center;
    background: #f5f5f5;
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    font-family: "微软雅黑";
    border-bottom: 1px solid #ededed;
	font-weight:400;
}
.tb td{
	height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #d2d2d2;
	text-align:center;
}
.tb td img{
	width: 72px;
    height: 54px;
}
.tb tr:nth-child(3) td,.tb tr:nth-child(5) td,.tb tr:nth-child(7) td{
	background: #f5f5f5;
}
/*middil*/
footer{
	width:100%;
	height:167px;
	background: #2c2c2c;
}
.link{
	width:100%;
	margin:0 auto;
	border-bottom:1px solid #999;
}
.link p{
	width:400px;
	text-align:center;
	margin:0 auto;
	display:flex;
	color: #8D8D8D;
	padding:15px 0;
}
.copy{
	width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: #8D8D8D;
}
.copy img{
	margin-top:20px;
}

